table {
  width: 100%;
}

/deep/ .dialog-container {
  padding: 2rem;
}

button {
  margin-bottom: 1rem;
}

.table-button {
  margin: 0;
  margin-right: 1rem;
}
.table-button:last-of-type {
  margin-right: 0;
}
